# membuat agar semua file .class hilang di dalam git
*.class
/Pertemuan10/nbproject/private/
/Pertemuan10/build/
/Pertemuan11/jdbc_mhs_service_GUI/nbproject/private/
/Pertemuan11/jdbc_mhs_service_GUI/build/
/Pertemuan12/nbproject/private/
/Pertemuan12/build/
